# === ENVIRONNEMENTS PYTHON ===
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
__pycache__/
*.pyc
*.pyo
*.pyd

# === CACHES ET TEMPORAIRES ===
*.log
*.tmp
*.bak
*.swp
*.swo

# Garder les fichiers Parquet du cache

!Data/
!Data/Cache/
!Data/Cache/*.parquet
!Data/Cache/file_last.txt

# === NOTEBOOKS TEMPORAIRES ===
.ipynb_checkpoints/

# === IDEs ===
.vscode/
.idea/

# === SYSTEME / OS ===
.DS_Store
Thumbs.db
desktop.ini

# === LIBRAIRIES COMPILÉES ===
*.dll
*.so
*.dylib
*.pyd

# === AUTRES ===
# fichiers spécifiques de test, sauvegardes, etc.
test_parquet_files/

